<div class="row">
    <div class="col-12 col-md-4 fw-bold">{{ 'guiziweb.ui.return_window_days'|trans }}</div>
    <div class="col-12 col-md-8">{{ hookable_metadata.context.resource.returnWindowDays }}</div>
</div>