{% set form = hookable_metadata.context.form.gatewayConfig.config.psp_merchant_secret_key %}

<div class="col-12 col-md-6">
    {{ form_row(form, sylius_test_form_attribute('config-psp-merchant-secret-key')) }}
</div>